[submodule "c cpp/tmux-highlight-text-patch-LICENSE"]
	path = c cpp/tmux-highlight-text-patch-LICENSE
	url = git@gist.github.com:84405041951e8909104f7255986abee2.git
[submodule "c cpp/tmux_local_install.sh"]
	path = c cpp/tmux_local_install.sh
	url = git@gist.github.com:e697c47d5e5f14a0812403d0104a8f7e.git
